<!DOCTYPE html>
<html ng-app="myApp">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="myController">
<div>
    <input type="text" ng-model="test">
    {{test}}
</div>
<div></div>
<md-input-container>
    <select  ng-options="scenario as scenario.name for scenario in scenarios"
             ng-model="sNeed" style="width: 200px"></select>
</md-input-container>
<md-input-container ng-hide="profiles.length==0">
    <select   ng-options="profile as profile.name for profile in profiles"
             ng-model="pNeed" style="width: 200px"></select>
</md-input-container>
<!--{{profiles.length==0}}{{profiles}}-->
<md-input-container ng-hide="rules.length==0">
    <select   ng-options="rule as rule.name for rule in rules"
             ng-model="rNeed" style="width: 200px"></select>
</md-input-container>
<!--{{rules.length==0}}{{rules}}-->


</body>
<script src="../lib/angular.js"></script>
<script src="../js/threeMenu.js"></script>
<!--<script src="lib/angular.min.js"></script>-->
<script src="../lib/angular-route.min.js"></script>
</html>